@font-face {
  font-family: "Libre Baskerville";
  src: url("./font/LibreBaskerville.ttf") format("truetype");
}

@font-face {
  font-family: "Fira Code";
  src: url("./font/FiraCode.ttf") format("truetype");
}

@font-face {
  font-family: "Google Sans";
  src: url("./font/GoogleSans.ttf") format("truetype");
}

body,
html {
  margin: 0;
  padding: 0;
  max-width: 100%;
  overflow-x: hidden;
  --dark-background: #13141D;
  --background: #161826;
  --container-width: 1350px;
  --container-padding: 120px;
  --color-default: #a1b5d1;
  --color-accent: #c0d8f9;
  background-color: var(--background);
  color: var(--color-default);
}

header {
  width: 100%;
  font-size: 24px;
  background-color: var(--dark-background);
}

#table-of-contents {
  padding: 32px;
  background-color: var(--dark-background);
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  gap: 16px;

  & div {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  & div div {
    display: inline-block;
  }

  & .h3 {
    margin-left: 32px;
    font-size: 16px;
  }
}

.blog>div {
  display: flex;
  flex-direction: column;
}

.blog>div>h1 {
  order: -1;
}

body .blog .toc-title {
  font-size: 28px;
  margin-top: 0;
  font-weight: bold;
}

.inner-header-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: var(--container-width);
  margin: 0 auto;
  padding: 32px var(--container-padding);
}

.right-side {
  display: flex;
  gap: 36px;
}

.blog pre,
.blog code {
  font-family: "Fira Code", 'Courier New', Courier, monospace;
}

.blog h1 {
  font-size: 46px;
  text-align: center;
  margin-bottom: 56px;
  margin-top: 0;
}

.blog h2 {
  font-size: 32px;
}

.blog h3 {
  font-size: 24px;
}

h1,
h2,
h3 {
  color: var(--color-accent);
  display: block;
  margin-top: 32px;
}

ul {
  padding-left: 16px;
  margin-top: 16px;
}

ul li:not(:last-child) {
  margin-bottom: 8px;
}

.blog br {
  display: none;
}

.blog pre:has(code) {
  display: block;
  padding: 8px;
  background-color: var(--dark-background);
  margin: 16px 0;

  & code {
    font-size: 16px;
  }
}

.blog blockquote {
  padding: 16px;
  font-size: 16px;
  background-color: var(--dark-background);
  margin: 16px 0;
  border-radius: 4px;
  border: 2px dashed var(--color-default);
}

pre {
  display: inline;
}

.blog * {
  font-size: 18px;
  font-family: "Google Sans", sans-serif;
}

.blog a {
  position: relative;
  text-decoration: underline;
}


.blog p {
  display: inline-block;
  margin-top: 16px;
  letter-spacing: 0.8px;
  line-height: 1.3;
}

.blog img {
  max-width: 100%;
  margin-top: 16px;
}

* {
  font-family: "Libre Baskerville", 'Times New Roman', Times, serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: var(--color-accent);
  text-decoration: none;
  font-weight: 700;
}

.heroContainer {
  position: relative;
  min-height: 100lvh;
}

.hero {
  max-width: var(--container-width);
  margin: 0 auto;
  padding: 220px;
  display: flex;
  flex-direction: column;
}

.spacer {
  display: block;
  margin-top: 24px;
}

.title {
  font-size: 48px;
}

.image-container {
  display: flex;
}

.description {
  line-height: 1.5;
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  font-size: 24px;
  gap: 12px;
}

b {
  color: var(--color-accent);
}

.links {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 48px;
}

.hero .links a {
  color: var(--color-default);
  transition: color .3s;

  &:hover {
    color: var(--color-accent);
  }
}

.section {
  max-width: var(--container-width);
  margin: 0 auto;
  padding: 90px var(--container-padding);
  display: flex;
  flex-direction: column;
  gap: 156px;
}

.section-title {
  padding: 48px 120px 0;
  font-size: 56px;
  text-align: center;
}

.hero .link {
  font-size: 22px;
}

.project-title {
  font-size: 36px;
  text-align: center;
}

.project-image {
  object-fit: contain;
  width: 100%;
  vertical-align: top;
  height: auto;
  max-width: 100%;
}

.project-content {
  margin-top: 68px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 48px;
}

.project-description,
.project-description * {
  font-size: 20px;
  line-height: 1.5;
  font-family: "Google Sans", sans-serif;
}

.projects>.project:nth-child(3n) .project-content>*:first-child {
  order: 2;
}

.project-link-container {
  margin-top: 32px;
}

.project-link-container .link {
  font-size: 22px;
  font-family: Google Sans, sans-serif;
}

.link {
  font-size: 24px;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 16px;
    height: 2px;
    background-color: var(--color-accent);
    transition: width .2s;
  }

  &:hover::after {
    width: 100%;
  }
}

.dots {
  padding: 40px;
  pointer-events: none;
  user-select: none;
  display: grid;
  grid-template-columns: repeat(auto-fill, 40px);
  gap: 30px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


.dot {
  transform: rotate(45deg);
  width: 4px;
  height: 4px;
  background-color: var(--color-default);
  border-radius: 20px;
  opacity: .05;
}

.breaker {
  position: relative;
  width: 100%;
  max-width: 80%;
  margin: 0 auto;
  height: 2px;

  &::before,
  &::after {
    content: '';
    display: block;
    position: absolute;
    height: 1px;
    background-color: var(--color-default);
    opacity: .7;
    width: 60%;
  }

  &::before {
    top: -5px;
    left: 0;
  }

  &::after {
    top: 5px;
    right: 0;
    left: auto;
  }
}

.blog-link {
  display: flex;
  gap: 24px;
  font-weight: 400;
  padding: 32px;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 30%;
    height: 40%;
    border-top: 2px solid var(--color-default);
    border-left: 2px solid var(--color-default);
    opacity: .5;
    transition: all .2s;
  }

  &::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    width: 30%;
    height: 40%;
    border-bottom: 2px solid var(--color-default);
    border-right: 2px solid var(--color-default);
    transition: all .2s;
    opacity: .5;
  }

  &:hover {

    &::before,
    &::after {
      border-color: var(--color-accent);
      width: 40%;
      height: 60%;
      opacity: 1;
    }
  }
}

.blog-info {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.blog-info * {
  font-family: 'Google Sans', sans-serif;
  letter-spacing: 0.6px;
  line-height: 1.2;
}

.blog-title {
  font-size: 20px;
}

.blog-entry-title {
  margin-top: 0;
}

.blog-description {
  font-size: 16px;
  color: var(--color-default);
}

.blog-date {
  color: var(--color-default);
  font-size: 14px;
  margin-top: auto;
}

@media (max-width: 1350px) {
  body {
    --container-padding: 60px;
  }

  .hero {
    padding: 100px;
  }
}

@media (max-width: 1050px) {
  .project-content {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-top: 32px;
    max-width: 600px;
    margin: 48px auto 0;
  }

  .project-image {
    max-width: 600px;
    margin: 0 auto;
  }

  .projects>.project:nth-child(3n) .project-content>*:first-child {
    order: 0;
  }
}

@media (max-width: 800px) {
  body {
    --container-padding: 24px;
  }

  .blog h1 {
    font-size: 32px;
  }

  .blog-link {
    flex-direction: column;
  }

  .hero {
    padding: 32px;
  }
}
