@font-face {
  font-family: "Libre Baskerville";
  src: url("./font/LibreBaskerville.ttf") format("truetype");
}

body,
html {
  margin: 0;
  padding: 0;
  max-width: 100%;
  overflow-x: hidden;
  --background: #161826;
  --container-width: 1300px;
  --color-default: #a1b5d1;
  --color-accent: #c0d8f9;
  background-color: var(--background);
  color: var(--color-default);
}

h1,
h2,
h3 {
  color: var(--color-accent);
}

pre {
  display: inline;
}

.blog p {
  display: inline-block;
  margin-top: 16px;
}

.blog img {
  max-width: 100%;
  margin-top: 16px;
}

* {
  font-family: "Libre Baskerville", 'Times New Roman', Times, serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: var(--color-accent);
  text-decoration: none;
  font-weight: 700;
}

.heroContainer {
  position: relative;
  min-height: 100lvh;
}

.hero {
  max-width: var(--container-width);
  margin: 0 auto;
  padding: 220px;
  display: flex;
  flex-direction: column;
}

.spacer {
  display: block;
  margin-top: 24px;
}

.title {
  font-size: 48px;
}

.image-container {
  display: flex;
}

.description {
  line-height: 1.5;
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  font-size: 24px;
  gap: 12px;
}

b {
  color: var(--color-accent);
}

.links {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 48px;
}

.hero .links a {
  color: var(--color-default);
  transition: color .3s;

  &:hover {
    color: var(--color-accent);
  }
}

.section {
  max-width: var(--container-width);
  margin: 0 auto;
  padding: 90px 120px;
  display: flex;
  flex-direction: column;
  gap: 156px;
}

.section-title {
  padding: 48px 120px 0;
  font-size: 56px;
  text-align: center;
}

.hero .link {
  font-size: 22px;
}

.project-title {
  font-size: 36px;
  text-align: center;
}

.project-image {
  object-fit: contain;
  width: 100%;
  vertical-align: top;
  height: auto;
  max-width: 100%;
}

.project-content {
  margin-top: 68px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 48px;
}

.project-description {
  font-size: 18px;
  line-height: 1.5;
}

.projects>.project:nth-child(3n) .project-content>*:first-child {
  order: 2;
}

.project-link-container {
  margin-top: 32px;
}

.link {
  font-size: 24px;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 16px;
    height: 2px;
    background-color: var(--color-accent);
    transition: width .2s;
  }

  &:hover::after {
    width: 100%;
  }
}

.dots {
  padding: 40px;
  pointer-events: none;
  user-select: none;
  display: grid;
  grid-template-columns: repeat(auto-fill, 40px);
  gap: 30px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


.dot {
  transform: rotate(45deg);
  width: 4px;
  height: 4px;
  background-color: var(--color-default);
  border-radius: 20px;
  opacity: .05;
}

.breaker {
  position: relative;
  width: 100%;
  max-width: 80%;
  margin: 0 auto;
  height: 2px;

  &::before,
  &::after {
    content: '';
    display: block;
    position: absolute;
    height: 1px;
    background-color: var(--color-default);
    opacity: .7;
    width: 60%;
  }

  &::before {
    top: -5px;
    left: 0;
  }

  &::after {
    top: 5px;
    right: 0;
    left: auto;
  }
}

.blog-link {
  display: flex;
  gap: 24px;
  font-weight: 400;
  padding: 32px;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 30%;
    height: 40%;
    border-top: 2px solid var(--color-default);
    border-left: 2px solid var(--color-default);
    opacity: .5;
    transition: all .2s;
  }

  &::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    width: 30%;
    height: 40%;
    border-bottom: 2px solid var(--color-default);
    border-right: 2px solid var(--color-default);
    transition: all .2s;
    opacity: .5;
  }

  &:hover {

    &::before,
    &::after {
      border-color: var(--color-accent);
      width: 40%;
      height: 60%;
      opacity: 1;
    }
  }
}

.blog-info {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.blog-title {
  font-size: 20px;
}

.blog-description {
  font-size: 16px;
  color: var(--color-default);
}

.blog-date {
  color: var(--color-default);
  font-size: 14px;
  margin-top: auto;
}
